a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: black;
  
  width: 100%;
}

li {
  width: 100px;
  display: flex;
  justify-content: center;

  align-items: center;
  position: relative;
  top: -2px;
}
.addto {
  display: none; /* Initially, text is hidden */
  position: absolute;
  top: -19px;
  left: 0;
}
li:hover .addto {
  display: block; /* Show text on hover */
}
.serchbox {
  width: 500px;
  margin-left: 100px;
}


.pr{
  background-image: url(" https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/62617f42-16fd-42e2-8bba-2eace8c264a2/df284uk-2c21b55a-1b0b-4fd0-b8ad-831059ee6658.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzYyNjE3ZjQyLTE2ZmQtNDJlMi04YmJhLTJlYWNlOGMyNjRhMlwvZGYyODR1ay0yYzIxYjU1YS0xYjBiLTRmZDAtYjhhZC04MzEwNTllZTY2NTguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.c1g9Zv6kRXCEiyWeZTAy4d3Nl8bxVshoR3PbI4Fgu7s");
  color: transparent;
  -webkit-background-clip: text;
  padding-top: 0px;
  
  text-align: center;
  font-size: 50px;
  -webkit-animation: bounce 0.4s ease infinite alternate;
  
}
