.buymain{
    background-image: url("https://img.freepik.com/premium-vector/abstract-red-light-hexagon-line-grey-modern-luxury-futuristic_33869-1345.jpg?semt=ais_hybrid&w=740");
}
.frm{
    background-color: rgba(14, 10, 10, 0.719);
    border: 1px solid #f5f5f5;
    border-radius: 20px;
}