.glass{
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.623);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.6px);
-webkit-backdrop-filter: blur(7.6px);
border: 1px solid rgba(255, 255, 255, 0.863);
color: white;
}
.main{
    background-image: url("https://png.pngtree.com/background/20240419/original/pngtree-futuristic-e-commerce-sales-experience-online-shopping-with-annual-discounts-and-picture-image_8564201.jpg");
}